<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nama Pemilik</th>
      <th>Nama Bank</th>
      <th>No. Rekening</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% bank.forEach((cat,i)=>{ %>
    <tr>
      <td><%= i +1 %></td>
      <td><%= cat.namaPemilik %></td>
      <td><%= cat.namaBank %></td>
      <td><%= cat.noRekening %></td>
      <td>
        <form action="/bank/delete/<%= cat._id %>?_method=delete" method="post">
          <a href="/bank/edit/<%= cat._id %>" class="btn btn-secondary"
            ><i class="fas fa-pen"></i> Edit</a
          >
          <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i> Hapus
          </button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
